<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/0.7/zepto.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.1/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
    <style>
      body, input, textarea {
        font: 14px/1.2em Helvetica, Arial, sans-serif;
      }
      input, textarea {
        display: block;
        margin-bottom: 1em;
      }
      #bookmark-form {
        background-color: #eee;
        padding: 10px  20px;
        width: 200px;
        position: fixed;
        right: 0;
        top: 0;
      }
      #bookmark-form input,
      #bookmark-form textarea {
        padding: 5px 5%;
        width: 90%;
      }
      #bookmark-form input[type="submit"] {
        font-size: 21px;
        width: 100%;
      }
      #bookmarks {
        margin: 0 240px 0 0;
        padding: 0;
        list-style: none;
      }
      #bookmarks .empty {
        color: #999;
        text-align: right;
      }
      #bookmarks li {
        padding: 5px;
        border-top: 1px #ccc solid;
      }
      #bookmarks .desc {
        border: 0;
        color: #999;
        display: inline-block;
        margin: 0 0 0 10px;
      }
      #bookmarks .trash {
        display: none;
        font-size: 80%;
        float: right;
      }
      #bookmarks li:hover .trash {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="bookmark-form">
      <h2>Add Bookmark</h2>
      <form action="/bookmarks" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="url" name="url" placeholder="url">
        <textarea name="desc" placeholder="description"></textarea>
        <input type="submit" value="Bookmark!">
      </form>
    </div>
    <h2>Bookmarks</h2>
    <ul id="bookmarks"></ul>
    <script>
      (function($) {
        // Model
        window.Bookmark = Backbone.Model.extend({
          url: function() {
            // Make id optional because the create event uses the model's url and
            // since the model is just about to be created, it doesn't have an id yet
            return '/bookmarks' + (this.get('id') ? '/' + this.get('id') : '');
          }
        });

        // Collection
        window.Bookmarks = Backbone.Collection.extend({
          model: Bookmark,
          url: '/bookmarks',
          // Determines sort key
          // Resetting a collection automatically sorts it
          comparator: function(model) {
            return model.get('title');
          }
        });

        // Bookmark List Item View
        window.BookmarkLi = Backbone.View.extend({
          // Specifying a `tagName` for a view automatically gives it a this.el which
          // contains an element with that `tagName`
          tagName: 'li',
          events: {
            // Save on description change
            'change .desc': 'save',
            // Destroy when trashed
            'click .trash': 'destroy'
          },
          render: function() {
            // `toJSON` returns an object with the model's attributes
            var data = this.model.toJSON();
            // Add contents of li element
            $(this.el).html(
              $('<a href="' + data.url + '">' + data.title + '</a>' +
                '<input type="text" class="desc" value="' + data.desc + '">' +
                '<a href="#" class="trash">Trash</a>'
                )
            );
            // It's more of a convention to return the view object upon rendering
            return this;
          },
          save: function(e) {
            // Save changes in description
            this.model.save({desc: $(e.target).val()});
          },
          destroy: function(e) {
            // Destroying a model removes it from its collection but
            // doesn't remove the view's element
            // We have to do it ourselves upon success of delete request
            this.model.destroy({success: function(model) {
              $(model.view.el).remove();
            }});
          }
        });

        // Bookmark List View
        window.BookmarkList = Backbone.View.extend({
          initialize: function() {
            // These methods are called in the context of the Bookmarks collection
            // so we have to bind them manually to the view
            _.bindAll(this, 'add', 'reset', 'checkBlankState');
            // Instantiate a Bookmarks collection and set it as an attribute of the view
            this.bookmarks = new Bookmarks;
            // Bind collection events to view methods
            this.bookmarks.bind('add', this.add);
            this.bookmarks.bind('reset', this.reset);
            this.bookmarks.bind('add', this.checkBlankState);
            this.bookmarks.bind('remove', this.checkBlankState);
            this.bookmarks.bind('reset', this.checkBlankState);
          },
          // Add callbacks have the model added as first argument
          add: function(model) {
            model.view = new BookmarkLi({model: model});
            $(this.el).append(model.view.render().el);
          },
          // Reset callbacks have collection reset as the first argument
          reset: function(collection) {
            $(this.el).empty();
            collection.each(this.add);
          },
          // I added this method just to show how you can utilize
          // collection event callbacks for other functions other than
          // representing/modifying models/collections
          checkBlankState: function(modelOrCollection) {
            var $el = $(this.el),
                // We don't know if the passed first argument is a model or collection
                // so let's check by looking for the collection attribute (w/c obviously
                // will be only present in models)
                collection = modelOrCollection.collection || modelOrCollection;
            // If collection is empty then show some blank state text
            if (collection.length == 0) {
              $el.append('<li class="empty">Don\'t be shy! Bookmark now. &rarr;</li>');
            // Else then remove the blank state text
            } else {
              $('.empty', $el).remove();
            }
          }
        });
        // Instantialize Bookmark List View
        var bookmarkList = new BookmarkList({el: '#bookmarks'});

        // Fetch existing bookmarks from DB
        bookmarkList.bookmarks.fetch();

        // Bookmark Form View
        window.BookmarkForm = Backbone.View.extend({
          events: {
            // Override the form submit with the view's create method
            'submit': 'create'
          },
          create: function() {
            // `serializeArray` produces a list of objects with name-value keys
            // We need a JSON representation of our model so we create it
            // from what we get from `serializeArray`
            var bookmark = {};
            _.each(this.el.serializeArray(), function(x) {
              if (x.name) {
                bookmark[x.name] = x.value;
              }
            });
            // Add it to the Bookmarks collection we instantialized in the Bookmark List View
            bookmarkList.bookmarks.create(bookmark);
            // Return false to prevent the submit event from bubbling
            return false;
          }
        });
        // Instantialize Bookmark Form View
        var bookmarkForm = new BookmarkForm({el: $('form')});
      })(Zepto);
    </script>
  </body>
</html>

